@{
    ViewData["Title"] = "LogIn";
}

<div class="wrap-home">
    <p>Welcome</p>
    <button id="to_privacy">Privacy</button>
    <button id="set_cookie">Set Cookie</button>
    <a id="auth" asp-route="auth">Auth</a>
    <a id="home" asp-controller="Home" asp-action="Privacy">Privacy</a>
    @*<div class="input-box">
        <input id="login" type="text" placeholder="Введите логин" />
        <input id="pass" type="password" placeholder="Введите пароль" />
        <button id="submit">Войти</button>
    </div>*@
</div>
