@{
    ViewData["Title"] = "LogIn";
}

<div class="wrap-login">
    <div class="input-box">
        <input id="login" type="text" placeholder="Введите логин" />
        <input id="pass" type="password" placeholder="Введите пароль" />
        <button id="submit">Войти</button>
    </div>
</div>
